---
title: Owen Dostie
---

<!DOCTYPE html>
<html>
    <!-- HEAD -->
    <head>
        <!-- PERSISTENT HEAD -->
        {% include head.html %}

        <!-- CHANGE TITLE FROM DEFAULT -->
        <title>{{ page.title }}</title>
    </head>

    <!-- BODY -->
    <!-- <body onresize='document.getElementsByTagName("body")[0].style[ "font-size" ] = document.body.clientWidth*(13/1280) + "px";'> -->
        <!-- NAVBAR -->
        {% include navbar.html %}
        
        <main>
            <!-- <div class="bg-gradient"></div> -->
            <!-- <div class="bg-grain"></div> -->
            <!-- MAIN CONTENT -->
            <content>
                <div id="print"></div>
                <div class="timeline">

                    <div class="timeline__left">

                        <div class="timeline__item">
                            <div class="timeline__item--label"><h2>This Site!</h2></div>
                            <div class="timeline__item--marker"></div>
                        </div>
                        <div class="timeline__item" style="top:400px;">
                            <div class="timeline__item--label">Testing</div>
                            <div class="timeline__item--marker"></div>
                        </div>


                        <!-- <div class="timeline__card" data-begin="07/01/2021" data-end="07/23/2021">
                            <div class="timeline__card-body" style="margin:0">
                                <h2>This Site!</h2>
                            </div>
                        </div>
    
                        <div class="timeline__card" data-begin="07/01/2021" data-end="07/14/2021">
                            <div class="timeline__card-body">
                                <h2>Top 50 Albums</h2>
                            </div>
                        </div> -->
                    </div>

                    <div class="timeline__line"></div>

                    <div class="timeline__right">
                        <!-- <div class="timeline__card" data-begin="03/01/2019" data-end="07/23/2021" 
                        style="z-index:1">
                        <div class="timeline__card-body">
                            <h2>Research Assistant</h2>
                            <p>Data Engineer</p>
                        </div>
                        <div class="timeline__card-content">
                            <p>
                                Research on the educational and financial impacts of Florida charter schools.
                                Check out the source code & some screenshots 
                                <a target="_blank" href="https://github.com/OwenDostie/florida-charter-schools">here</a>.
                            </p>
                            <p> Connected skills: R, Stata, ETL, Unsupervised ML, Data Analytics</p>
                        </div>
                        <div class="timeline__card" data-begin="08/21/2016" data-end="05/23/2020">
                            <div class="timeline__card-body">
                                <h2>B.S. Data Science</h2>
                                <p>Florida Polytechnic University</p>
                            </div>
                        </div> -->
                    </div>

                    </div>


                    
                    
                    <!-- <div class="timeline__card" data-pos="left">
                        <div class="timeline__card-body">
                            <h2>IoT Developer</h2>
                            <p>STMicroelectronics</p>
                        </div>
                    </div>

                    <div class="timeline__card" data-pos="left">
                        <div class="timeline__anchor-point"></div>
                        <div class="timeline__card-body">
                            <h2>Data Scientist</h2>
                            <p>Refresco</p>
                        </div>
                    </div>
                    <div class="timeline__card" data-pos="left">
                        <div class="timeline__card-body">
                            <h2>Fullstack Developer</h2>
                        </div>
                    </div>
                    <div class="timeline__card" data-pos="left">
                        <div class="timeline__card-body">
                            <h2>Backend Developer</h2>
                            <p>Grizzard Real Estate</p>
                        </div>
                    </div> -->

                    <!-- https://github.com/bunsenmurder/ML-Project-Attendance-Counter -->
                </div>
                    <!-- INTERACTIVE CONTENT -->
                    <script>
                        // GET CURRENT DATE
                        const today = new Date().getTime();
                        const timelineStart = new Date(2016, 6, 1);
                        const timelineHeight = document.getElementsByClassName('timeline')[0].clientHeight;
                        const tlScale = 1/(today - timelineStart)*timelineHeight

                        const tlmiddle = Date.parse(document.getElementsByClassName('timeline__card')[0].dataset.end)

                        // document.getElementById("print").innerHTML = tlmiddle;

                        // ADD COLORS & ORGANIZE TIMELINE
                        const colors = ['brown','cadetblue','seagreen','hotpink','sandybrown','slateblue']
                        var cards = document.querySelectorAll(".timeline__card");
                        for(var i=0; i<cards.length; i++){
                            cards[i].style.backgroundColor = colors[i % colors.length]
                            const cardDateBegin = Date.parse(cards[i].dataset.begin)
                            const cardDateEnd = Date.parse(cards[i].dataset.end)
                            cards[i].style.top = String(Math.round((today-cardDateEnd)*tlScale)) + 'px'
                            cards[i].style.height = String(Math.round((cardDateEnd - cardDateBegin)*tlScale)) + 'px'
                            // cards[i].style.marginLeft = String(cards[i].style.marginLeft + cards[i].style.zIndex*16) + 'px'
                            cards[i].style.filter = "saturate(0);"
                            var dateBegin = cards[i]
                        }

                    </script>
            </content>
        </main>
        
    </body>
</html> 