---
title: Owen Dostie
---

<!DOCTYPE html>
<html>
    <!-- HEAD -->
    <head>
        <!-- PERSISTENT HEAD -->
        {% include head.html %}

        <!-- CHANGE TITLE FROM DEFAULT -->
        <title>{{ page.title }}</title>
    </head>

    <!-- BODY -->
    <!-- <body onresize='document.getElementsByTagName("body")[0].style[ "font-size" ] = document.body.clientWidth*(13/1280) + "px";'> -->
        <!-- NAVBAR -->
        {% include navbar.html %}
        
        <main>
            <!-- <div class="bg-gradient"></div> -->
            <!-- <div class="bg-grain"></div> -->
            <div class="bg-fade" id="bg-fade"></div>
            <!-- MAIN CONTENT -->
            <content>
                {% include timeline.html %}
            </content>
        </main>
        
    </body>
</html> 