---
title: Post
---

<!DOCTYPE html>
<html>
    <!-- HEAD -->
    <head>
        <!-- PERSISTENT HEAD -->
        {% include head.html %}

        <!-- CHANGE TITLE FROM DEFAULT -->
        <title>{{ page.title }}</title>
        <title>ASDFS</title>
    </head>

    <!-- BODY -->
    <body>
    <!-- <body onresize='document.getElementsByTagName("body")[0].style[ "font-size" ] = document.body.clientWidth*(13/1280) + "px";'> -->
        <!-- NAVBAR -->
        {% include navbar_floating.html %}
        
        <main>
            <!-- MAIN CONTENT -->
            <content>
                
            </content>
        </main>
    </body>
</html> 