---
title: Owen Dostie
---

<!DOCTYPE html>
<html>
    <!-- HEAD -->
    <head>
        <!-- PERSISTENT HEAD -->
        {% include head.html %}

        <!-- CHANGE TITLE FROM DEFAULT -->
        <title>{{ page.title }}</title>
    </head>

    <!-- BODY -->
    <!-- <body onresize='document.getElementsByTagName("body")[0].style[ "font-size" ] = document.body.clientWidth*(13/1280) + "px";'> -->
        <!-- NAVBAR -->
        {% include navbar-floating.html %}
        
        <main>
            <!-- MAIN CONTENT -->
            <content>
                <div>
                    <h3>Projects</h3>
                    <ul>
                        <li><a href="https://github.com/OwenDostie/florida-charter-schools" target="_blank">
                            Research</a> on the educational and financial impacts of Florida charter schools.
                        </li>
                        <li>Benefit-cost analysis to guide business decisions at Refresco Lakeland (NDA).</li>
                        <li>ML-driven <a href="" target="_blank">top 50 albums </a>
                            based on 5 years of personal Spotify data.
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>Education</h3>
                    <ul>
                        <li><i>Florida Polytechnic University</i>, B.S. Data Science.</li>
                    </ul>
                </div>

                <!-- BOTTOM CONTACT MENU -->
                <!-- <div class="contact-menu">
                    <a class="contact-menu__logo" style="background: url(/img/gmail.svg)" href="mailto: owendostie@gmail.com" target="_blank" title="Email"></a>
                    <a class="contact-menu__logo" style="background: url(/img/linkedin.svg)" href="https://www.linkedin.com/in/owen-dostie-307ab9168/" target="_blank" title="Linkedin"></a>
                    <a class="contact-menu__logo" style="background: url(/img/github.svg)" href="https://github.com/OwenDostie" target="_blank" title="GitHub"></a>
                </div> -->
            </content>
        </main>
        
    </body>
</html> 