
.body {
    animation: fadeInAnimation ease 2s;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.nav-wrapper {
    display: flex;
    justify-content: left;
    padding: 38px;
}

 .nav-link-wrapper {
    height: 22px;
    margin-right: 1em;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #808080;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
    border-bottom-style:
    transition: border-bottom 0.4s;
}

.nav-link-wrapper a:hover {
    color: black;
}