---
---

$color-black: #000;
$color-white: #fff;
$color-offwhite: #eeeeee;
$color-gray: #807e7e;
$color-blue: rgb(0, 109, 251); 
$text-color: black;

* {
    list-style: none;
    text-decoration: none;
}

body {
    background-color: $color-white;
    li > a {
        color: $color-blue;
        display: inline-block;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.5s;
        
        &:hover {
            border-bottom: 1px solid $color-blue;
        }
    }
}

content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding-top: 1em;
    
    h3 {
        padding-top: 2em;
    }

    div {
        max-width: 480px;
        margin: 0.5em;
    }
}

h1 {
    margin-top: 0px;
}

h3 {
    // display: block;
    text-align: center;
    // justify-content: center;
    width: 100%
}

li {
    padding-top: 0.5em;
    padding-left: 0;
    padding-right: 2em;
}
ul li:before {
    content: "•";
    font-size: 12pt;
    padding-right: 0.7em;
    padding-left: -1em;
    vertical-align: middle;
}

// ICONS //
.contact-menu {
    width: 11em;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 1em;
}

.contact-menu__logo {
    // text-indent: -9999px;
    width: 2em;
    height: 2em;
    background: url(/img/github.svg);
    background-size: 2em 2em;
    transition: padding-bottom 0.5s;
    :hover {
        padding-bottom: 20px;
    }
}

// NAVBAR //
.navbar {
    display: block;
    width: 100%;
    margin: auto;
    max-width: 480px;
}

.navbar__menu {
    display: flex;
    justify-content: left;
    // padding: 34px;
    padding-top: 30px;
    border-bottom: 1px solid $color-offwhite;
}

.navbar__menu-item {
    height: 22px;
    margin-left: 1em;
    border-bottom: 1px solid transparent;
    color: $color-gray;
    transition: border-bottom 0.5s, color 0.5s;
    // font-size: 13pt;
    &:hover {
        color: black;
        border-bottom: 1px solid black;
    }
}

// .navbar__menu-item:hover {

// }
