@media only screen and (max-width: 660px) {
    $timeline-width: 400px;
    $timeline-line-width: 20px;

    content {
        // CENTER CONTENT ITEMS ON SCREEN
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .navbar__title {
        padding-top: 3em;
    }
    
    .timeline {
        max-width: $timeline-width;
        width: 100%;
    }
    
    .timeline__header,
    .timeline__footer {
        margin: 0;
        width: 100%;
        flex-basis: 100%;
        color: $color-gray;
        font-size: 16px;
    
        margin-left: $timeline-line-width/2;
        text-align: left;
        user-select: none;
    }
    
    .timeline__body {
        margin: 0;
        min-height: $timeline-height;
        max-width: $timeline-width;
        display: grid;
        position: relative;

        .timeline__line { order: 1 }
        .timeline__left { order: 2 }
        .timeine__right { order: 3 }

        .timeline__left,
        .timeline__right {
            position: absolute;
            top: 0;
            left: $timeline-line-width;
            margin: 0;
            height: 100%;
            flex: 1;
            width: ($timeline-width*0.8);

            .timeline__item--label {
                text-align: left;
                padding-left: 6px;
            }
            .timeline__item > .timeline__item--marker {
                width: 5px;
                border-radius: 0px;
                border-left: 0px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-right: 0px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            
            .timeline__item--description {
                padding-right: 10px;
                p {
                    padding-left: 6px;
                }
            }
        }
    }
    .timeline__right, .timeline__left {
        .timeline__item--focused > .timeline__item--marker {
            // transform: translateX(-($timeline-line-width/2 + 3));
            border-radius: 2px !important;
            border-width: 4px;
        }
    }

    .timeline__item[data-bump-m="12x"] {
        transform: translateX(12px)
    }
    .timeline__item[data-bump-m="24x"] {
        transform: translateX(24px)
    }
    .timeline__item[data-bump-m="36x"] {
        transform: translateX(36px)
    }
    .timeline__item--label[data-bump-m="-12y"] {
        transform: translateY(-12px)
    }
    .timeline__item--label[data-bump-m="6y"] {
        transform: translateY(6px)
    }
    .timeline__item--label[data-bump-m="-24y"] {
        transform: translateY(-24px)
    }
    .timeline__item--label[data-bump-m="-36y"] {
        transform: translateY(-36px)
    }
    .timeline__item[data-bump-m="12x-24y"] {
        transform: translate(12px, -24px)
    }   

    

    
    .timeline__item {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: flex-grow 0.5s;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 8px;
        margin: 0;
        //default color is gray
        color: $color-gray;
        user-select: none;

        .timeline__item--label { order: 1}
        .timeline__item--padding { order: 2}
    }
    
    .timeline__item--padding {
        flex: 3;
        height: 100%;
        margin: 0;
    }
}