---

---

// CONSTANTS
$timeline-height: 660px;
$timeline-width: 500px; //576px;

// COLORS
$color-black: #000;
$color-white: #fff;
$color-offwhite: #eeeeee;
$color-gray: #807e7e;
$color-blue: rgb(0, 109, 251); 
$text-color: black;
$tl-color1: brown;
$tl-color2: cadetblue;
$tl-color3: seagreen;
$tl-color4: hotpink;
$tl-color5: sandybrown;
$tl-color6: slateblue;

* {
    list-style: none;
    text-decoration: none;
}

body {
    background-color: $color-white;
    li > a {
        color: $color-blue;
        display: inline-block;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.5s;
        
        &:hover {
            border-bottom: 1px solid $color-blue;
        }
    }
}

content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding-top: 1em;
    
    h3 {
        padding-top: 2em;
    }

    div {
        max-width: 360px;
        margin: 0.5em;
    }
}

h1 {
    margin-top: 0px;
}

h3 {
    // display: block;
    text-align: center;
    // justify-content: center;
    width: 100%
}

li {
    padding-top: 0.5em;
    padding-left: 0;
    padding-right: 2em;
}
ul li:before {
    content: "•";
    font-size: 12pt;
    padding-right: 0.7em;
    padding-left: -1em;
    vertical-align: middle;
}

// PRETENTIOUS BACKGROUND
.bg-grain {
    background-image: url("/img/film_grain.gif");
    background-size: 100% 100%;
    position: fixed;
    top: 0px; 
    left: 0px;
    opacity: 0.06;
    height: 100vh;
    width: 100vw;
    content: '';
    z-index: -1;
}

.bg-gradient {
    background: radial-gradient(white,white,white, black);
    background-size: 100% 100%;
    width: 100vw; height: 100vh;
    position: fixed;    
    opacity: 0.12;
    top: 0px; 
    left: 0px;
    content: '';
    z-index: -1;
}

// ICONS //
.contact-menu {
    width: 11em;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 1.5em;
}

.contact-menu__logo {
    // text-indent: -9999px;
    width: 2em;
    height: 2em;
    background: url(/img/github.svg);
    background-size: 2em 2em;
    transition: padding-bottom 0.5s;
    :hover {
        padding-bottom: 20px;
    }
}

// NAVBAR //
.navbar {
    display: block;
    width: 100%;
    margin: auto;
    max-width: 480px;
}

.navbar__title {
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

.navbar__title-text {
    font-size: 2.3em;
    color: $color-black;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    // border-bottom: 1px solid $color-offwhite;

    .navbar__contact-icon, .navbar__menu-item, .navbar__menu-separator {
        box-sizing: border-box;
        margin: 6px;
        margin-top: auto;
        margin-bottom: auto;
        justify-content: space-between;
    }

    .navbar__menu-item {
        font-size: 1.05em;
        // padding-top: 2px;
    }
}

.navbar__menu-item {
    height: 22px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: $color-gray;
    transition: border-bottom 0.5s, color 0.5s;
    font-size: 1em;
    &:hover {
        color: $color-black;
        border-bottom: 1px solid $color-black;
    }
}

.navbar__menu-separator {
    color: $color-gray;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar__contact-icon {
    // text-indent: -9999px;
    opacity: 0.5;
    min-width: 1.3em;
    height: 1.3em;
    background: url(/img/github.svg);
    background-size: 2em 2em;
    vertical-align: center;
    transition: opacity 0.5s;
    &:hover {
        opacity: 1;
    }
}

.navbar-floating {
    display: block;
    float: left;
    width: 100%;
    margin: 2em;
    
    .navbar__title {
        justify-content: left;
        padding-top: 0px;
        font-size: 0.8em;
    }
}

// DEFAULT TIMELINE BEHAVIOR
.timeline {
    min-height: $timeline-height;
}

.timeline__card {
    // retro look
    //filter: saturate(0.5) sepia(1); 
    transition: filter 0.5s;

    // create roundrect background w/ shadow
    background-color: rgb(100, 100, 100);
    border-radius: 9px;
    box-shadow: 0 0 12px black;

    // minimum card size
    min-width: 80px;
    min-height: 32px;

    // center text vertically & horizontally
    display: grid;
    place-items: center;
    margin: 0 auto;
    position: relative;

    &:hover {
        // opacity: 1;
        z-index: 10;
        //filter: sepia(0.7);
    }

    &:active {
        border: inset black 1px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: $color-gray;
        border-radius: 50%;
        top: 0;
    }
}

.timeline__card-body {

    // horizontally center body and add small margins
    text-align: center;
    min-width:130px;
    margin: 6px;

    // default to gray before js
    color: black;

    user-select: none;


    h2 {
        padding-top: 0px;
        font-weight: lighter;
        margin: 0;
    }
    p {
        font-style: italic;
        margin: 0;
    }
}

.timeline__card-content {
    display: none;
}

// WIDESCREEN VIEW
@media only screen and (min-width: 768px) {

    .timeline:after {
        content: 'timeline__line';
        color: transparent;
        position: absolute;
        height: $timeline-height;
        width: 2px;
        left: 50%;
        transform: translate(-1px,0);
        background-color: $color-gray;
    }

    .timeline {
        position: relative;
        min-width: $timeline-width;
    }

    .timeline__card {
        max-width: 160px;
        position: absolute;
        left: 50%;
        margin-right: 0px;
        margin-left: 20px;
    }

    .timeline__card[data-pos="left"] {
        left: 0;
        margin-right: 20px;
        margin-left: 0px;
    }
}

// MOBILE VIEW
@media only screen and (max-width: 767px) {

    .timeline:after {
        content: 'timeline__line';
        color: transparent;
        position: absolute;
        height: $timeline-height;
        width: 2px;
        left: 12px;
        background-color: $color-gray;
    }

    .timeline {
        position: relative;
        max-width: 234px;
    }

    .timeline__card {
        max-width: 12px;
        position: absolute;
        left: 50%;
        margin-right: 0px;
        margin-left: 0px;
    }
}