<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NWD3S9HED9"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-NWD3S9HED9');
</script>

<meta charset="UTF-8" /><meta name='viewport' content='width=device-width initial-scale=1'>
<link rel="stylesheet" href="style.css" />
<link rel="icon" type="image/svg+xml" sizes="any" href="/img/favicon/favicon.svg">
<!-- {% if page.title %} <title> {{ include.title}} </title> {% endif %} -->
<style>
    body { animation: fadeInAnimation ease 1s; }
    @keyframes fadeInAnimation {
        0%   { opacity: 0; }
        50%  { opacity: 0; }
        100% { opacity: 1; }
    }
</style>      