<!-- GOOGLE ANALYTICS -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NWD3S9HED9"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-NWD3S9HED9');
</script>

<!-- FONT FAMILY -->
<!-- <link href=' https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet' type='text/css'> -->
<!-- <link href=' http://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'> -->
<!-- <style> body { font-family: 'Manrope' } </style> -->
<!-- <link href=' http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
<style> main { font-family: 'Crimson Text' } </style> -->

<!-- GENERAL INCLUSIONS -->
<meta charset="UTF-8" /><meta name='viewport' content='width=device-width initial-scale=1'>
<link rel="stylesheet" href="style.css" />
<link rel="icon" type="image/svg+xml" sizes="any" href="/img/favicon/favicon.svg">

<!-- PAGE LOAD ANIMATION -->
<!-- {% if page.title %} <title> {{ include.title}} </title> {% endif %} -->
<style>
    body { animation: fadeInAnimation ease 1s; }
    @keyframes fadeInAnimation {
        0%   { opacity: 0; }
        50%  { opacity: 0; }
        100% { opacity: 1; }
    }
</style>      