
<div class="navbar">
    <div class="navbar__title"><a href="/" style="font-weight: bold"><div class="navbar__title-text">Owen Dostie</div></a></div>
    <div class="navbar__menu">
        <a class="navbar__contact-icon" style="background: url(/img/gmail.svg)" href="mailto: owendostie@gmail.com" target="_blank" title="Email"></a>
        <a class="navbar__contact-icon" style="background: url(/img/linkedin.svg)" href="https://www.linkedin.com/in/owen-dostie-307ab9168/" target="_blank" title="Linkedin"></a>
        <a class="navbar__contact-icon" style="background: url(/img/github.svg)" href="https://github.com/OwenDostie" target="_blank" title="GitHub"></a>
        <div class="navbar__menu-separator">•</div>
        <a class="navbar__menu-item" href="/files/resume.pdf" target="_blank" style="transform:translateY(-1px)"><div>Resume</div></a>
        <!-- <a class="navbar__menu-item" href="/"><div>Blog</div></a> -->

            <!-- <a class="contact-menu__logo" style="background: url(/img/soundcloud.svg)" href="/" title="SoundCloud"></a> -->
    </div>
</div>